@import 'tailwindcss';

@theme inline {
  --color-accent: var(--accent);
}

@layer base {
  :root,
  .purple {
    --accent: var(--color-purple-500);
  }
  .red {
    --accent: var(--color-red-500);
  }
  .orange {
    --accent: var(--color-orange-500);
  }
  .yellow {
    --accent: var(--color-yellow-500);
  }
  .lime {
    --accent: var(--color-lime-500);
  }
  .emerald {
    --accent: var(--color-emerald-500);
  }
  .cyan {
    --accent: var(--color-cyan-500);
  }
  .blue {
    --accent: var(--color-blue-500);
  }
  .pink {
    --accent: var(--color-pink-500);
  }

  .drag {
    -webkit-app-region: drag;
  }

  input {
    @apply rounded-sm;
  }

  input:not([type='range']) {
    @apply px-2;
  }

  input[type='file']::-webkit-file-upload-button {
    display: none;
  }

  .slider {
    -webkit-appearance: none; /* For WebKit browsers (Chrome, Safari) */
    appearance: none; /* Standard property */
    background: transparent; /* Remove default background */
    border: none; /* Remove default border */
    position: relative;

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      padding: 2px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 8px; /* Set a specific slider handle width */
      height: 16px; /* Slider handle height */
      background: var(--accent); /* Green background */
      @apply rounded-xs;
    }

    &::after {
      content: attr(value) attr(data-suffix);
      position: absolute;
      inset: 0;
      text-align: center;
    }
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
